/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
	--bg-black-900: #000000;
	--bg-black-100: #dddddd;
	--bg-black-50: #eff0f4;
	--bg-opacity: rgba(255,255,255,0.5);
	--text-black-900: #000000;
	--text-black-700: #555555;
	--text-black-600: #666666;
	--text-black-300: #bbbbbb;
	--outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
	--outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
	--inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
	--inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
	--skin-color: #570381;
	--progress-color: #9932CC;
	--Service-Icon-color: #b577d4;
	--seclection-txt-color: black;
}

body.dark {
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	--bg-black-900: #ffffff;
	--bg-black-100: #353535;
	--bg-black-50: #2b2c2f;
	--bg-opacity: rgba(43,44,47,0.5);
	--seclection-txt-color: #fff;
	--text-black-900: #ffffff;
	--text-black-700: #ffffff;
	--text-black-600: #8a8282;
	--text-black-300: #9e9a9a;
	--outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
	--outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
	--inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
	--inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;
	--skin-color: #b45fdf;
	--progress-color: #9932CC;
	--Service-Icon-color: #b577d4;
}

body {
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-size: 16px;
	line-height: 1.5;
	background-color: var(--bg-black-50);
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--skin-color);
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--text-black-900);
}

p::-moz-selection {
	background: var(--Service-Icon-color);
	color: black;
}

p::selection {
	background: var(--Service-Icon-color);
	color: black;
}

h1::-moz-selection {
	background: var(--Service-Icon-color);
	color: black;
}

h1::selection {
	background: var(--Service-Icon-color);
	color: black;
}

h2::-moz-selection {
	background: var(--Service-Icon-color);
	color: black;
}

h2::selection {
	background: var(--Service-Icon-color);
	color: black;
}

h3::-moz-selection {
	background: var(--Service-Icon-color);
	color: black;
}

h3::selection {
	background: var(--Service-Icon-color);
	color: black;
}

h4::-moz-selection {
	background: var(--Service-Icon-color);
	color: black;
}

h4::selection {
	background: var(--Service-Icon-color);
	color: black;
}

span::-moz-selection {
	background: var(--skin-color);
	color: var(--seclection-txt-color);
}

span::selection {
	background: var(--skin-color);
	color: var(--seclection-txt-color);
}

body.stop-scrolling {
	overflow-y: hidden;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

*:not(i) {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

:before,:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	vertical-align: middle;
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.uil {
	font-size: 1.8rem;
	font-weight: 900;
}

.loader {
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	background: var(--bg-black-100);
	z-index: 99999999999999999999999999999999999999999999;
}

.loader .line {
	background: -webkit-gradient(linear, left top, left bottom, from(#9F2B68), color-stop(#BF40BF), to(#702963));
	background: -o-linear-gradient(#9F2B68, #BF40BF, #702963);
	background: linear-gradient(#9F2B68, #BF40BF, #702963);
	height: 50px;
	width: 10px;
	border-radius: 10px;
	display: inline-block;
	-webkit-animation: animate 1s ease infinite;
	animation: animate 1s ease infinite;
}

.loader .line:nth-child(1),
.loader .line:nth-child(7) {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.loader .line:nth-child(2),
.loader .line:nth-child(6) {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.loader .line:nth-child(3),
.loader .line:nth-child(5) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.loader .line:nth-child(4),
.loader .line:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loader .line:nth-child(5),
.loader .line:nth-child(2) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

@-webkit-keyframes animate {
	0%,100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}

@keyframes animate {
	0%,100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}

.container {
	max-width: 1140px;
	margin: auto;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.row .logo img {
	height: 40px;
	width: 100px;
}

.justify-content-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.outer-shadow {
	-webkit-box-shadow: var(--outer-shadow);
	box-shadow: var(--outer-shadow);
}

.inner-shadow {
	-webkit-box-shadow: var(--inner-shadow);
	box-shadow: var(--inner-shadow);
}

.btn {
	padding: 10px 25px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: var(--skin-color);
	background-color: transparent;
	line-height: 1.5;
	border-radius: 30px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: none;
	display: inline-block;
}

.btn::after {
	border-radius: 30px;
}

.hover-in-shadow {
	position: relative;
	z-index: 1;
}

.hover-in-shadow:hover {
	-webkit-box-shadow: var(--outer-shadow-0);
	box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: -1;
}

.hover-in-shadow:hover:after {
	-webkit-box-shadow: var(--inner-shadow);
	box-shadow: var(--inner-shadow);
}

.section.hide {
	display: none;
}

.align-items-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.home-section {
	position: relative;
}

.home-section .full-screen {
	padding: 50px 0;
	min-height: 50vh;
}

.home-section .home-text,
.home-section .home-img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 15px;
	margin-top: 50px;
}

.home-section .home-text p {
	color: var(--text-black-600);
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	word-break: break-word;
}

.home-section .home-text h2,
.home-section .home-text span {
	color: var(--text-black-900);
	font-size: 45px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin: 0;
	word-break: break-word;
}

.home-section .home-text h1 {
	color: var(--text-black-700);
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	word-break: break-word;
	font-weight: 700;
	margin: 0;
}

.home-section .home-text span {
	color: transparent;
	-webkit-text-stroke: 1px var(--bg-black-900);
	background: url(../Images/back.webp);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	background-position: 0 0;
	-webkit-animation: text-bg 20s linear infinite;
	animation: text-bg 20s linear infinite;
}

@-webkit-keyframes text-bg {
	100% {
		background-position: 1000px 0;
	}
}

@keyframes text-bg {
	100% {
		background-position: 1000px 0;
	}
} 

.home-section .home-text .btn {
	margin-top: 30px;
}

.home-section .home-img .img-box {
	max-width: 74%;
	max-height: 100%;
	display: block;
	margin: auto;
	border-radius: 50%;
	padding: 15px;
}

.home-section .img-box img {
	height: 360px;
	width: 100%;
	border-radius: 50%;
	border: 10px solid transparent;
}

.about-section {
	padding: 100px 0 0;
	min-height: 50vh;
}

.section-title {
	padding: 0 15px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	text-align: center;
	margin-bottom: 40px;
}

.section-title h2 {
	display: inline-block;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: var(--text-black-900);
	text-transform: uppercase;
	margin: 0;
	word-break: break-word;
}

.section-title h2::before {
	content: attr(data-heading);
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: var(--skin-color);
	word-break: break-word;
}

.about-section .container .img-box img {
	height: 460px;
	width: 400px;
	border: 10px solid transparent;
	border-radius: 10px;
}

.about-section .about-img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
	padding: 0 15px;
}

.about-section .about-img .img-box {
	padding: 15px;
	border-radius: 10px;
}

.about-section .about-img .social-links {
	margin-top: 10px;
	text-align: center;
}

.about-section .about-img .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 20px;
	text-align: center;
	color: var(--skin-color);
	margin: 0 4px;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.about-section .about-img .social-links a i {
	line-height: 40px;
}

.about-section .about-img .social-links a::after {
	border-radius: 50%;
}

.about-section .about-img .social-links a:hover {
	color: rgb(133, 34, 133);
}

.about-section .about-info {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	max-width: 60%;
	padding: 0 15px;
}

.about-section .about-info span {
	font-weight: 600;
	word-break: break-word;
	font-family: 'Poppins', sans-serif;
}

.about-section .about-info p {
	margin-top: 10px;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	line-height: 26px;
	margin-bottom: 15px;
	color: var(--text-black-600);
	word-break: break-word;
}

.about-section .about-info p .uni-hrf {
	color: #DA70D6;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.about-section .about-info a {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 700;
	cursor: pointer;
}

.about-section .about-info a:hover {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: var(--skin-color);
}

.about-section .about-info .btn {
	margin: 40px 50px 0 0;
}

.about-section .about-tabs {
	padding: 60px 15px 50px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
}

.about-section .about-tabs span {
	font-family: 'Poppins', sans-serif;
}

.about-section .about-tabs .tab-item {
	display: inline-block;
	margin: 0 5px 10px;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 30px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: var(--text-black-700);
}

.about-section .about-tabs .tab-item:hover:not(.active) {
	opacity: 0.7;
}

.about-section .about-tabs .tab-item.active {
	color: var(--skin-color);
}

.about-section .tab-content {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	display: none;
}

.about-section .tab-content.active {
	display: block;
}

.about-section .skills .skill-item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	margin-bottom: 20px;
}

.about-section .skills {
	padding: 0 0 40px;
}

.about-section .skills .skill-item p {
	font-size: 16px;
	font-weight: 600;
	color: var(--text-black-900);
	font-family: 'Poppins', sans-serif;
	margin: 0 0 10px;
	word-break: break-word;
}

.about-section .skills .skill-item .progress {
	height: 25px;
	border-radius: 20px;
	max-width: 97%;
	position: relative;
}

.about-section .others .skill-item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	margin-bottom: 20px;
}

.about-section .others {
	padding: 0 0 40px;
}

.about-section .others .skill-item p {
	font-size: 16px;
	font-weight: 600;
	color: var(--text-black-900);
	font-family: 'Poppins', sans-serif;
	margin: 0 0 10px;
	word-break: break-word;
}

.about-section .others .skill-item .progress {
	height: 25px;
	border-radius: 20px;
	max-width: 97%;
	position: relative;
}

.skill-per {
	background-image: -o-linear-gradient(124deg, #6d055f 0%, #5f0a87 74%);
	background-image: linear-gradient(326deg, #6d055f 0%, #5f0a87 74%);
	height: 13px;
	left: 7px;
	top: 6px;
	border-radius: 11px;
	position: relative;
	-webkit-animation: fillBars 4.8s 1;
	animation: fillBars 4.8s 1;
	-webkit-box-shadow: 0 0 15px #ca71ad;
	box-shadow: 0 0 15px #ca71ad;
}

.skill-per::before {
	content: attr(per);
	position: absolute;
	padding: 4px 6px;
	background: var(--progress-color);
	border-radius: 4px;
	font-size: 12px;
	top: -35px;
	right: 0;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}

.skill-per::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: var(--progress-color);
	top: -20px;
	right: 0;
	margin-top: 5px;
	-webkit-transform: translateX(50%) rotate(45deg);
	-ms-transform: translateX(50%) rotate(45deg);
	transform: translateX(50%) rotate(45deg);
	border-radius: 2px;
}

@-webkit-keyframes fillBars {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes fillBars {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

.about-section .experience, .education {
	padding-bottom: 80px;
}

.about-section .timeline {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	position: relative;
}

.about-section .timeline::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	left: 50%;
	border-radius: 20px;
	background-color: var(--bg-black-100);
}

.about-section .timeline .timelin-item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 15px;
}

.about-section .timeline .timelin-item:nth-child(odd) {
	padding-right: calc(50% + 50px);
	text-align: right;
}

.about-section .timeline .timelin-item:nth-child(even) {
	padding-left: calc(50% + 50px);
}

.about-section .timeline .timelin-item .timeline-item-inner {
	padding: 30px;
	border-radius: 10px;
	position: relative;
}

.about-section .timeline .timelin-item .timeline-item-inner::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 1px;
	background-color: var(--bg-black-100);
	border: 1px solid var(--bg-black-100);
	top: 40px;
	z-index: -1;
}

.about-section .timeline .timelin-item:nth-child(odd) .timeline-item-inner::before {
	right: -30px;
}

.about-section .timeline .timelin-item:nth-child(even) .timeline-item-inner::before {
	left: -30px;
}

.about-section .timeline .timelin-item .timeline-item-inner .icon {
	height: 40px;
	width: 40px;
	color: var(--skin-color);
	text-align: center;
	line-height: 40px;
	position: absolute;
	top: 18px;
	border-radius: 50%;
	-webkit-box-shadow: var(--outer-shadow);
	box-shadow: var(--outer-shadow);
}

.about-section .timeline .timelin-item .timeline-item-inner .compaany-logo {
	height: 80px;
	width: 80px;
	position: absolute;
	left: 30px;
}

.about-section .timeline .timelin-item .timeline-item-inner .compaany-logo.oxygensoft {
	left: auto;
	right: 35px;
}

.about-section .timeline .timelin-item .timeline-item-inner .compaany-logo img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.about-section .timeline .timelin-item:nth-child(odd) .icon {
	right: -70px;
}

.about-section .timeline .timelin-item:nth-child(even) .icon {
	left: -70px;
}

.about-section .timeline .timelin-item .timeline-item-inner span {
	font-weight: 500;
	color: var(--skin-color);
	display: block;
	margin: 0 0 10px;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
	word-break: break-word;
}

.about-section .timeline .timelin-item .timeline-item-inner h3 {
	font-size: 20px;
	color: var(--text-black-700);
	word-break: break-word;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	margin: 0 0 5px;
	text-transform: capitalize;
}

.about-section .timeline .timelin-item .timeline-item-inner h4 {
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	word-break: break-word;
	color: var(--text-black-600);
	margin: 0;
}

.about-section .timeline .timelin-item .timeline-item-inner p {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	color: var(--text-black-600);
	line-height: 26px;
	margin: 15px 0 0;
	word-break: break-word;
	text-align: left;
}

.about-section .timeline .timelin-item .timeline-item-inner .mini-projects {
	font-size: 12px;
	color: var(--text-black-600);
	line-height: 26px;
	margin: 15px 0 0;
	word-break: break-word;
	text-align: left;
	font-family: 'Poppins', sans-serif;
}

.about-section .timeline .timelin-item .timeline-item-inner .mini-projects li {
	font-family: 'Poppins', sans-serif;
}

.about-section .timeline .timelin-item .timeline-item-inner .mini-projects i {
	color: var(--skin-color);
}

.services-section {
	padding: 100px 0 100px;
	min-height: 50vh;
}

.services-section .service-item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	padding: 15px;
	max-width: 33.33%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.services-section .service-item-inner {
	padding: 50px 15px;
	border-radius: 10px;
	text-align: center;
	width: 100%;
}

.services-section .service-item-inner .icon {
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
	margin: 0 auto 30px;
	color: var(--Service-Icon-color);
	position: relative;
}

.services-section .service-item-inner .icon::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.services-section .service-item-inner:hover .icon {
	-webkit-box-shadow: var(--inner-shadow-0);
	box-shadow: var(--inner-shadow-0);
}

.services-section .service-item-inner:hover .icon::after {
	-webkit-box-shadow: var(--outer-shadow);
	box-shadow: var(--outer-shadow);
}

.services-section .service-item-inner .icon i {
	font-size: 25px;
	line-height: 70px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.services-section .service-item-inner:hover .icon i {
	color: var(--skin-color);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.services-section .service-item-inner h3 {
	font-size: 20px;
	word-break: break-word;
	font-weight: 600;
	color: var(--text-black-700);
	margin: 0 0 10px;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
}

.services-section .service-item-inner p {
	font-size: 12px;
	font-weight: 500;
	word-break: break-word;
	font-family: 'Poppins', sans-serif;
	color: var(--text-black-600);
	line-height: 20px;
	margin: 0;
}

.portfolio-section {
	padding: 100px 0 100px;
	min-height: 50vh;
}

.portfolio-section .section-title {
	margin-bottom: 40px;
}

.portfolio-section .portfolio-filter {
	padding: 0 15px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.portfolio-section .filter-items {
	display: inline-block;
	margin: 10px 15px 10px;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 30px;
	/* border-top-right-radius: 0; */
	font-size: 18px;
	font-weight: 600;
	color: var(--text-black-700);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	z-index: 1;
}

.portfolio-section .filter-items .count {
	position: absolute;
	right: -1.3rem;
	top: -1.3rem;
	border-radius: 30px;
	/* border-bottom-left-radius: 0; */
	width: 30px;
	height: 30px;
	font-size: 12px;
	font-weight: 900;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	opacity: 0;
	z-index: -1;
}

.portfolio-section .filter-items .count.visible {
	opacity: 1;
}

.portfolio-section .portfolio-filter .filter-items:hover:not(.active) {
	opacity: 0.6;
}

.portfolio-section .portfolio-filter .filter-items.active {
	color: var(--skin-color);
}

.portfolio-section .portfolio-item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.portfolio-section .portfolio-item.hide {
	display: none;
}

.portfolio-section .portfolio-item.show {
	display: block;
	-webkit-animation: fadeInTop 0.5s ease;
	animation: fadeInTop 0.5s ease;
}

.portfolio-section .portfolio-item-inner {
	padding: 15px;
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}

.portfolio-section .portfolio-item-inner p {
	font-size: 16px;
	font-weight: 600;
	word-break: break-word;
	color: var(--text-black-900);
	margin: 10px 0 0;
	font-family: 'Poppins', sans-serif;
}

.portfolio-section .portfolio-item-inner h3 {
	font-size: 18px;
	word-break: break-word;
	font-weight: 800;
	color: var(--bg-black-900);
	font-family: 'Poppins', sans-serif;
}

.portfolio-section .portfolio-item-img img {
	border-radius: 10px;
	width: 100%;
	height: 200px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img {
	-webkit-transform: translateY(-29px);
	-ms-transform: translateY(-29px);
	transform: translateY(-29px);
}

.portfolio-section .portfolio-item-img {
	position: relative;
}

.portfolio-section .portfolio-item-img .view-project {
	text-transform: capitalize;
	font-size: 13px;
	font-weight: 600;
	color: var(--skin-color);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: absolute;
	right: 4px;
	bottom: -6px;
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
	z-index: -1;
	opacity: 0;
}

.portfolio-section .portfolio-item-inner:hover .view-project {
	-webkit-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	transform: translateY(-4px);
	opacity: 1;
}

.portfolio-section .portfolio-item-details {
	display: none;
}

.portfolio-section .view-project-page {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 2rem;
}

.portfolio-popup {
	background-color: var(--bg-black-50);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: scroll;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.portfolio-popup .pp-img-loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1005;
	background-color: var(--bg-opacity);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
}

.portfolio-popup .pp-img-loader.active {
	visibility: visible;
	opacity: 1;
}

.portfolio-popup .pp-img-loader div {
	width: 50px;
	height: 50px;
	border: 3px solid var(--skin-color);
	border-radius: 50%;
	border-right: 3px solid transparent;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	visibility: hidden;
	opacity: 0;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.portfolio-popup.open {
	visibility: visible;
	opacity: 1;
}

.portfolio-popup .pp-title {
	padding: 0 15px;
}

.portfolio-popup .pp-title span {
	font-weight: 500;
	word-break: break-word;
	font-family: 'Poppins', sans-serif;
}

.portfolio-popup .pp-title h2 {
	font-size: 28px;
	color: var(--skin-color);
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
	word-break: break-word;
	font-weight: 700;
	margin: 0 0 5px;
}

.portfolio-popup .pp-title p {
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	color: var(--text-black-600);
	text-transform: capitalize;
	font-weight: 600;
	margin: 0 0 15px;
	word-break: break-word;
	border-bottom: 1px solid var(--bg-black-100);
	padding-bottom: 10px;
}

.portfolio-popup .pp-project-details h3 {
	font-size: 20px;
	color: var(--text-black-700);
	text-transform: capitalize;
	font-weight: 600;
	word-break: break-word;
	margin: 0 0 15px;
	font-family: 'Poppins', sans-serif;
}

.portfolio-popup .pp-project-details p {
	font-size: 16px;
	color: var(--text-black-600);
	font-family: 'Poppins', sans-serif;
	line-height: 26px;
	margin: 0;
	word-break: break-word;
}

.portfolio-popup .description {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 65%;
	flex: 0 0 65%;
	max-width: 65%;
	padding: 0 15px;
}

.portfolio-popup .info {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 35%;
	flex: 0 0 35%;
	max-width: 35%;
	padding: 0 15px;
}

.portfolio-popup .info ul li {
	display: block;
	margin-bottom: 10px;
}

.portfolio-popup .info ul li:last-child {
	margin-bottom: 0;
}

.portfolio-popup .info li {
	font-size: 14px;
	color: var(--text-black-700);
	text-transform: capitalize;
	font-weight: 700;
}

.portfolio-popup .info span {
	font-size: 14px;
	color: var(--text-black-600);
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.portfolio-popup .info a {
	font-size: 14px;
	color: var(--text-black-600);
	text-transform: lowercase;
	font-weight: 500;
	color: var(--skin-color);
	cursor: pointer;
}

.portfolio-popup .pp-saprator {
	height: 1px;
	width: 100%;
	display: block;
	background-color: var(--bg-black-100);
}

.portfolio-popup .pp-details {
	max-width: 1350px;
	width: calc(85% + 30px);
	margin: auto;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.portfolio-popup .pp-details.active {
	opacity: 1;
}

.portfolio-popup .pp-details-inner {
	padding: 60px 0;
}

.portfolio-popup .pp-img {
	max-width: 100%;
	width: auto;
	height: auto;
	padding: 15px;
	border-radius: 10px;
}

.portfolio-popup .pp-main {
	min-height: 50vh;
	max-width: 1350px;
	width: 85%;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}

.portfolio-popup .img-loader {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: var(--progress-color);
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 99999;
	display: none;
}

.portfolio-popup .img-loader.active {
	display: block;
}

.portfolio-popup .img-loader:before,
  .portfolio-popup .img-loader:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	inset: 0;
	background: var(--skin-color);
	-webkit-transform: rotate(0deg) translate(30px);
	-ms-transform: rotate(0deg) translate(30px);
	transform: rotate(0deg) translate(30px);
	-webkit-animation: rotate 1s ease infinite;
	animation: rotate 1s ease infinite;
}

.portfolio-popup .img-loader:after {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg) translate(30px);
		transform: rotate(360deg) translate(30px);
	}
}

@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg) translate(30px);
		transform: rotate(360deg) translate(30px);
	}
}

.portfolio-popup .pp-main-inner {
	padding: 70px 0 50px;
	position: relative;
}

.portfolio-popup .pp-project-details {
	min-height: 20vh;
	max-width: 1350px;
	width: 85%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.portfolio-popup .pp-project-details-btn {
	position: absolute;
	left: 0;
	top: 15px;
	height: 40px;
	line-height: 40px;
	border-radius: 30px;
	text-align: center;
	padding: 0 15px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	color: var(--skin-color);
	-webkit-transition: all 0.3s all;
	-o-transition: all 0.3s all;
	transition: all 0.3s all;
}

.portfolio-popup .pp-project-details-btn::after {
	border-radius: 30px;
}

.portfolio-popup .pp-project-details-btn i {
	margin-left: 20px;
}

.portfolio-popup .pp-close {
	-webkit-transition: all 0.3s all;
	-o-transition: all 0.3s all;
	transition: all 0.3s all;
	position: absolute;
	cursor: pointer;
	font-size: 25px;
	font-weight: 700;
	color: var(--skin-color);
	border-radius: 50%;
	right: 0;
	height: 40px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	top: 15px;
}

.portfolio-popup .pp-close::after {
	border-radius: 50%;
}

.portfolio-popup .img-counter {
	position: absolute;
	right: 0;
	height: 40px;
	line-height: 40px;
	bottom: 5px;
	font-size: 18px;
	font-weight: 600;
	color: var(--skin-color);
}

.portfolio-popup .pp-prev,.portfolio-popup .pp-next {
	position: fixed;
	top: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
	color: var(--skin-color);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1010;
	opacity: 0.7;
}

.portfolio-popup .pp-prev i, .portfolio-popup .pp-next i {
	line-height: 40px;
}

.portfolio-popup .pp-prev:hover ,.portfolio-popup .pp-next:hover {
	opacity: 1;
	-webkit-box-shadow: var(--inner-shadow);
	box-shadow: var(--inner-shadow);
}

.portfolio-popup .pp-prev {
	left: 35px;
}

.portfolio-popup .pp-prev i {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.portfolio-popup .pp-next {
	right: 35px;
}

.contact-section {
	padding: 100px 0 100px;
	min-height: 50vh;
}

.contact-section .contact-me-items {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.contact-section .contect-me-items-inner {
	padding: 30px 15px;
	text-align: center;
	width: 100%;
	border-radius: 10px;
}

.contact-section .contect-me-items-inner i {
	font-size: 30px;
	color: var(--skin-color);
}

.contact-section .contect-me-items-inner span {
	display: block;
	font-size: 22px;
	color: var(--text-black-700);
	font-family: 'Lato', sans-serif;
	word-break: break-word;
	font-weight: 800;
	margin: 15px 0 10px;
	text-transform: capitalize;
	word-break: break-word;
}

.contact-section .contect-me-items-inner a,
.contact-section .contect-me-items-inner p {
	font-size: 16px;
	color: var(--skin-color);
	font-family: 'Lato', sans-serif;
	word-break: break-word;
	line-height: 26px;
	margin: 0;
	word-break: break-word;
}

.contact-section .contact-form {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	margin-top: 50px;
}

.contact-section .w-50 {
	position: relative;
	padding: 0 15px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.contact-section .input-group {
	margin: 0 0 25px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 30px;
	position: relative;
}

.contact-section .input-group::after {
	border-radius: 30px;
}

.contact-section .input-group .input-controls {
	height: 45px;
	display: block;
	width: 100%;
	border-radius: 30px;
	color: var(--text-black-600);
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	padding: 0 15px;
	background-color: transparent;
}

.contact-section .input-group .input-control {
	height: 255px;
	display: block;
	width: 100%;
	color: var(--text-black-600);
	border-radius: 30px;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	padding: 15px 15px;
	background-color: transparent;
	resize: none;
}

.contact-section .submit-btn {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	width: 100%;
	text-align: center;
	padding: 15px 15px;
}

.btns {
	width: 100%;
	padding: 10px 25px;
	font-size: 23px;
	font-weight: 700;
	color: var(--skin-color);
	background-color: transparent;
	line-height: 1.5;
	border-radius: 30px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: none;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
}

.btns::after {
	border-radius: 30px;
}

.contact-section #status {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	margin-top: 0.4rem;
	font-size: 16px;
	max-width: 665px;
	padding: 10px;
	border-radius: 50px;
	color: var(--skin-color);
	margin-left: 42%;
}

#status.success {
	background: rgb(33, 78, 29);
	color: white;
	-webkit-animation: status 4s ease forwards;
	animation: status 4s ease forwards;
}

#status.error {
	background: #e74c3c;
	color: white;
	-webkit-animation: status 4s ease forwards;
	animation: status 4s ease forwards;
}

@-webkit-keyframes status {
	0% {
		opacity: 1;
		pointer-events: all;
	}

	90% {
		opacity: 1;
		pointer-events: all;
	}

	100% {
		opacity: 0;
		pointer-events: none;
	}
}

@keyframes status {
	0% {
		opacity: 1;
		pointer-events: all;
	}

	90% {
		opacity: 1;
		pointer-events: all;
	}

	100% {
		opacity: 0;
		pointer-events: none;
	}
}

.top {
	position: fixed;
	text-decoration: none;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	right: 15px;
	bottom: 20px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	color: var(--text-black-600);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 0;
}

.top.active {
	opacity: 1;
}

.top::after {
	border-radius: 50%;
}

.top i {
	color: var(--skin-color);
	font-size: 27px;
}

.style-switcher {
	position: fixed;
	right: 0;
	top: 100px;
	padding: 4px;
	width: 100px;
	z-index: 101;
	border-radius: 5px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}

.style-switcher::after {
	border-radius: 5px;
}

.style-switcher.open {
	-webkit-transform: translateX(-15px);
	-ms-transform: translateX(-15px);
	transform: translateX(-15px);
}

.style-switcher .icons i {
	line-height: 40px;
}

.style-switcher .icons {
	position: absolute;
	width: 40px;
	height: 40px;
	font-size: 27px;
	color: var(--skin-color);
	text-align: center;
	right: 100%;
	margin-right: 20px;
	cursor: pointer;
	border-radius: 50%;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.style-switcher .icons::after {
	border-radius: 50%;
}

.style-switcher .style-toggler {
	top: 0;
}

.style-switcher .day-night-mode {
	top: 55px;
}

.style-switcher .darkmode {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
}

.style-switcher .darkmode i {
	font-size: 24px;
	line-height: 40px;
	color: var(--skin-color);
}

.style-switcher .darkmode::after {
	border-radius: 50%;
}

.container2 {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#footer {
	padding-top: 50px;
	padding-bottom: 50px;
}

#footer .socials-media {
	width: 100%;
}

#footer .socials-media ul {
	display: inline-block;
	float: none;
	margin: 0 0 20px 0;
}

#footer .socials-media ul li {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#footer .socials-media ul li a {
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 24px;
	text-align: center;
	color: var(--skin-color);
	margin: 0 4px;
	border-radius: 50%;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a::after {
	border-radius: 50%;
}

#footer .socials-media ul li a i {
	line-height: 40px;
}

#footer .socials-media ul li a:hover {
	color: rgb(33, 2, 37);
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

#footer p {
	font-size: 14px;
	letter-spacing: 0.2em;
	margin-top: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: var(--text-black-700);
	text-transform: capitalize;
}

.credits {
	margin-top: 20px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	letter-spacing: 0.1em;
	line-height: 16px;
	margin-bottom: 15px;
	color: var(--text-black-600);
	word-break: break-word;
}

.credits a {
	color: var(--skin-color);
	font-weight: 700;
	font-size: 18px;
}

.testimonials-container {
	font-family: "Poppins", sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.testinomials-section {
	padding: 100px 0 0;
	min-height: 50vh;
}

.blogs-section {
	padding: 100px 0 100px;
	min-height: 100vh;
}

.blogs-section .blog-item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	padding: 10px;
	max-width: 33.33%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.blogs-section .blog-item .img_holder {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 10px;
	width: 100%;
	background-color: rgb(250, 250, 250);
	height: 200px;
}

.blogs-section .blog-item .image {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.blogs-section .blog-item:hover .img_holder {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: translateY(-25px);
	-ms-transform: translateY(-25px);
	transform: translateY(-25px);
}

img {
	vertical-align: middle;
	max-width: 100%;
}

.blogs-section .blog-item a h2 {
	padding: 10px;
	font-size: 18px;
	color: var(--text-black-900);
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
	word-break: break-word;
	font-weight: 700;
}

.blogs-section .blog-item a:hover h2 {
	color: var(--skin-color);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.blogs-section .blog-item span {
	font-weight: 300;
	font-size: 12px;
	color: var(--text-black-700);
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
	word-break: break-word;
}

.blogs-section .blog-item a {
	color: var(--skin-color);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	cursor: pointer;
}

.blogs-section .blog-item span i {
	margin-right: 10px;
}

.blogs-section .blog-item-inner {
	position: relative;
	padding: 20px 15px;
	border-radius: 10px;
	width: 100%;
}

.blogs-section .blog-item-inner .postbyname {
	width: 85%;
	height: 40px;
	border-radius: 20px;
	position: absolute;
	top: -22px;
	left: 27px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.blogs-section .blog-item-inner .postbyname img {
	width: 30px;
	height: 30px;
	top: 4px;
	margin: 4px;
	float: right;
	border-radius: 50%;
}

.blogs-section .blog-item-inner .postbyname i {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 18px;
	text-align: left;
	color: var(--bg-black-900);
	margin: 8px;
	margin-top: 10px;
}

.blogs-section .blog-item-inner .postbyname p {
	position: absolute;
	top: 1px;
	left: 30px;
	font-size: 12px;
	text-align: left;
	color: var(--bg-black-900);
}

.blogs-section .blog-item-inner .postbyname p span {
	font-size: 12px;
	font-weight: bold;
	color: var(--skin-color);
}

.blogs-section .blog-item:hover .postbyname {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: translateY(-25px);
	-ms-transform: translateY(-25px);
	transform: translateY(-25px);
}

.blogs-section .blog-item-inner h4 {
	font-size: 20px;
	word-break: break-word;
	font-weight: 600;
	color: var(--text-black-700);
	margin: 0 0 10px;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
}

.blogs-section .blog-item-inner p {
	padding: 10px;
	padding-top: 10px;
	font-size: 12px;
	font-weight: 500;
	word-break: break-word;
	font-family: 'Poppins', sans-serif;
	color: var(--text-black-600);
	line-height: 18px;
	word-break: break-word;
}

.blogs-section .blog-item i {
	color: var(--skin-color);
	font-size: 12px;
}

.blogs-section .icons1 {
	float: right;
	margin-right: 8px;
}

.blogs-section .icons1 i:hover {
	color: violet;
	font-size: 15px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.blogs-section .morebtn {
	padding: 10px;
}

.blogs-section .morebtn a {
	color: var(--text-black-700);
	font-weight: 500;
}

.blogs-section .morebtn a:hover {
	color: var(--skin-color);
}

.blogs-section .closeUp {
	position: relative;
	bottom: 5px;
}

.blogs-section .closeUp .reactions {
	position: absolute;
	right: 0;
}

.testimonials-section {
	padding: 100px 0 100px;
	min-height: 50vh;
}

.testimonials-section .item-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1rem;
}

.testimonials-section .item-wrapper .items {
	border-radius: 10px;
	width: 100%;
	margin: 4rem;
	margin-right: .9rem;
	margin-left: .9rem;
}

.testimonials-section .tesimonial-box {
	position: relative;
	width: 100%;
	padding: 40px;
	padding-top: 50px;
	color: var(--text-black-600);
}

.testimonials-section .tesimonial-box .quote {
	position: absolute;
	top: 20px;
	right: 30px;
	opacity: 0.5;
	font-size: 25px;
}

.testimonials-section .tesimonial-box .details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 20px;
}

.testimonials-section .tesimonial-box .details .img-bx {
	position: relative;
	width: 60px;
	height: 60px;
	margin-right: 10px;
	border-radius: 50%;
	overflow: hidden;
}

.testimonials-section .tesimonial-box .details .img-bx img {
	border-radius: 50%;
	-o-object-fit: cover;
	object-fit: cover;
}

.testimonials-section .tesimonial-box .details h3 {
	font-size: 16px;
	font-weight: 700;
	color: var(--skin-color);
	line-height: 1.1em;
}

.testimonials-section .tesimonial-box .details h3 span {
	font-size: 12px;
	color: var(--text-black-600);
}

.testimonials-section .slick-slider button.slick-arrow {
	position: absolute;
	outline: none;
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 35px;
	color: var(--skin-color);
	-webkit-box-shadow: var(--outer-shadow);
	box-shadow: var(--outer-shadow);
	z-index: 99;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: -webkit-box-shadow .5s ease;
	transition: -webkit-box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
	transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
}

.testimonials-section .slick-slider button.slick-arrow:hover {
	-webkit-box-shadow: var(--inner-shadow);
	box-shadow: var(--inner-shadow);
}

.testimonials-section .slick-slider .slick-prev::before {
	font-family: FontAwesome;
	color: var(--skin-color);
	font-size: 2.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	content: url("<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-left"></svg>");
}

.testimonials-section .slick-slider .slick-next::before {
	font-family: FontAwesome;
	font-size: 2.5rem;
	color: var(--skin-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	content: url("<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-right"></svg>");
}

.testimonials-section .slick-slider .slick-prev {
	left: -10px;
	font-size: 0;
}

.testimonials-section .slick-slider .slick-next {
	right: -10px;
	font-size: 0;
}

.testimonials-section .slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
	display: none;
}

.testimonials-section .slick-slider button.slick-arrow.slick-disabled {
	display: none !important;
}

.testimonials-section .slick-dots {
	text-align: center;
}

.testimonials-section .slick-dots {
	position: absolute;
	bottom: -40px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.testimonials-section .slick-dots li {
	display: inline-block;
	padding: 1px;
	background: var(--text-black-900);
	margin: 10px 5px;
	width: 15px;
	height: 15px;
	border-radius: 10px;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.testimonials-section .slick-dots button {
	display: none;
}

.testimonials-section .slick-dots li.slick-active {
	background: var(--progress-color);
	width: 35px;
	height: 15px;
	border-radius: 10px;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	background: var(--bg-black-50);
	padding: 0 60px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 99999999;
	-webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.navbar.hide {
	display: none;
}

.icon {
	background: var(--bg-black-50);
}

.navbar ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

.navbar ul li a {
	position: relative;
	padding: 5px 20px;
	font-size: 1.1em;
	font-weight: bold;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	color: var(--text-black-900);
	cursor: pointer;
}

.navbar ul li a span {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transition-delay: calc(0.05s * var(--i));
	-o-transition-delay: calc(0.05s * var(--i));
	transition-delay: calc(0.05s * var(--i));
	font-weight: 600;
}

.navbar ul li a span:nth-child(2) {
	position: absolute;
	-webkit-transform: translateY(35px);
	-ms-transform: translateY(35px);
	transform: translateY(35px);
	font-size: 1.3em;
}

.navbar ul li.active a span:nth-child(1) {
	color: var(--progress-color);
}

.icon ul li a span:nth-child(1) {
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.icon ul li a span:nth-child(2) {
	-webkit-transform: translateY(2px);
	-ms-transform: translateY(2px);
	transform: translateY(2px);
}

.brand {
	position: relative;
	font-size: 1.8em;
	font-weight: bold;
	color: var(--text-black-900);
	padding: 5px 0;
	overflow: hidden;
}

.brand span {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	display: block;
	font-family: 'Lobster', cursive;
}

.brand span:nth-child(1) {
	position: absolute;
	-webkit-transform: translateY(-80px);
	-ms-transform: translateY(-80px);
	transform: translateY(-80px);
	font-size: 1.5em;
}

.icon .brand span:nth-child(1) {
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
	color: var(--text-black-100);
}

.icon .brand span:nth-child(2) {
	-webkit-transform: translateY(40px);
	-ms-transform: translateY(40px);
	transform: translateY(40px);
}

.icon ul li.active a span:nth-child(2) {
	color: var(--progress-color);
}

@media(max-width: 820px) {
	.brand,
	.hireme {
		display: none;
	}

	.navbar {
		all: unset;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 60px;
		background: var(--bg-black-100);
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		z-index: 9999999;
		-webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	.navbar ul li.active a span:nth-child(1) {
		color: var(--text-black-900);
	}

	.navbar ul li a {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.icon .navbar ul li a span:nth-child(1),
	.icon .navbar ul li a span:nth-child(2) {
		all: unset;
	}

	.navbar ul li a span:nth-child(2) {
		all: unset;
	}

	.list {
		position: relative;
	}

	.list .link {
		z-index: 1;
		overflow: visible;
	}

	.list .link .icons {
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}

	.list .link .text {
		display: none;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		font-size: .6em;
	}

	.list.active .link .icons {
		font-size: 1.1em;
		z-index: 999;
		-webkit-transform: translateY(-17px);
		-ms-transform: translateY(-17px);
		transform: translateY(-17px);
		color: var(--text-black-900);
	}

	.list.active .link .text {
		display: block;
		-webkit-transform: translateY(-4px);
		-ms-transform: translateY(-4px);
		transform: translateY(-4px);
		background: var(--progress-color);
		padding: 3px 8px;
		border-radius: 10px;
		font-weight: bold;
	}

	.list.active .link .indicator {
		background: var(--progress-color);
		width: 40px;
		height: 40px;
		position: absolute;
		top: -16px;
		border-radius: 50%;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		-webkit-transition: all 1s linear;
		-o-transition: all 1s linear;
		transition: all 1s linear;
	}
}

@media(max-width: 410px) {
	.navbar ul li a {
		padding: 5px 12px;
	}

	.navbar ul li a {
		font-size: .7em;
	}

	.list.active .link .text {
		-webkit-transform: translateY(-6px);
		-ms-transform: translateY(-6px);
		transform: translateY(-6px);
	}

	.navbar {
		height: 50px;
	}

	.list .link .icons {
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}

	.testimonials-section .slick-slider button.slick-arrow {
		display: none !important;
	}
}